*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: white;
    --clr-dark: black;
    --clr-accent: #DC7A09;

    --fs-h1: 55px;
    --fs-h2: 40px;
    --fs-h3: 20px;
    --fs-body: 18px;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 72px;
        --fs-h2: 60px;
        --fs-h3: 24px;
        --fs-body: 18px;
    }
}

.header {
    background: black;
    background-image: linear-gradient(135deg, rgba(180, 142, 8,0.2) 0%, rgba(180, 142, 8,0.2) 16.667%,rgba(195, 74, 7,0.2) 16.667%, rgba(195, 74, 7,0.2) 33.334%,rgba(190, 97, 7,0.2) 33.334%, rgba(190, 97, 7,0.2) 50.001%,rgba(175, 165, 9,0.2) 50.001%, rgba(175, 165, 9,0.2) 66.668%,rgba(170, 188, 9,0.2) 66.668%, rgba(170, 188, 9,0.2) 83.335%,rgba(185, 120, 8,0.2) 83.335%, rgba(185, 120, 8,0.2) 100.002%),linear-gradient(90deg, rgba(180, 142, 8,0.2) 0%,
    rgba(180, 142, 8,0.2) 16.667%,rgba(195, 74, 7,0.2) 16.667%, rgba(195, 74, 7,0.2) 33.334%,rgba(190, 97, 7,0.2) 33.334%, rgba(190, 97, 7,0.2) 50.001%,rgba(175, 165, 9,0.2) 50.001%, rgba(175, 165, 9,0.2) 66.668%,rgba(170, 188, 9,0.2) 66.668%, rgba(170, 188, 9,0.2) 83.335%,rgba(185, 120, 8,0.2) 83.335%, rgba(185, 120, 8,0.2) 100.002%),linear-gradient(45deg, rgba(180, 142, 8,0.2) 0%, rgba(180, 142, 8,0.2) 16.667%,rgba(195, 74, 7,0.2) 16.667%,
    rgba(195, 74, 7,0.2) 33.334%,rgba(190, 97, 7,0.2) 33.334%, rgba(190, 97, 7,0.2) 50.001%,rgba(175, 165, 9,0.2) 50.001%, rgba(175, 165, 9,0.2) 66.668%,rgba(170, 188, 9,0.2) 66.668%, rgba(170, 188, 9,0.2) 83.335%,rgba(185, 120, 8,0.2) 83.335%, rgba(185, 120, 8,0.2) 100.002%),linear-gradient(90deg, rgb(233, 192, 114),rgb(236, 17, 0));
    background-size: initial;
}

body {
    
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

.work__img {
    display: flex;
    width: 40em;
}

.work__img:hover {
    transform: scale(1);
    opacity: .75;
}

strong { 
    font-weight: var(--fw-bold);
    text-shadow: 2px 2px white;
}

h1 {
    line-height: 10px;
    margin-top: 0;
}

h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: 55px;
        padding: 20px;
        display: inline-block;}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);
        padding: 20px;}

ul {
    margin: 0px 20px 0px 30px;
    padding: 30px 0px 0px;
}

li {
    font-size: 35px;
    display: inline-block;
    margin: 0px 80px 10px 30px;
    padding: 30px 0px 25px;
    
}

a {
    color: var(--clr-dark);
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    padding: 30px 0px 25px;
}

.work__img {
    display: flex;
}

.section__title {
    margin-bottom: 4px;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    background: var(--clr-accent);
    padding: 4px 16px;
    margin-bottom: 16px;
    margin: 0;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    text-align: center;
}

.section__subtitle--intro {
    background: var(--clr-dark);
}

.section__subtitle--about {
    background: var(--clr-accent);
    padding: 4px 16px;
    font-family: var(--ff-secondary);
    margin-bottom: 16px;
    text-align: start;
}

.section__subtitle--work {
    background: var(--clr-accent);
    padding: 4px 16px;
    font-size: var(--fs-h3);
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    margin-bottom: 32px;
    display: inline;
}

nav { display: none;}

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        background: var(--clr-dark);
        display: flex;
        width: min-content;
        margin: 0 auto;
        column-gap: 4px;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro {
        background: url(../Images/1236519.jpg);
        padding: 4px 120px;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -24px;
        width: calc(100% + 24px);
    }
}

.my-services {
    background: var(--clr-accent);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-dark);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 32px;
    height: 1px;
    margin: 8px auto 16px;
    background: var(--clr-light);
    opacity: 0.5;
}

.services {
    margin-bottom: 64px;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.work__body {
    padding: 4px 16px;
    margin-bottom: 16px;
    float: inline-end;
    font-size: var(--fs-h3);
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 32px;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
    background-image: linear-gradient(135deg, transparent 0%, transparent 30%,rgba(229, 127, 23,0.6) 30%, rgba(229, 127, 23,0.6) 33%,transparent 33%,
    transparent 64%,rgba(235, 177, 39,0.6) 64%, rgba(235, 177, 39,0.6) 100%),linear-gradient(45deg, transparent 0%, transparent 39%,rgb(229, 127, 23) 39%,
    rgb(229, 127, 23) 76%,rgb(232, 152, 31) 76%, rgb(232, 152, 31) 80%,transparent 80%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.about-me__body {
    background: var(--clr-accent);
    font-weight: bold;
    padding: 4px 16px;
    margin-bottom: 16px;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        column-gap: 32px;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -32px;
        width: calc(100% + 32px);
        padding-left: 16px;
        padding-right: calc(200px + 64px);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

.my-work {
    background-image: linear-gradient(109deg, rgba(75, 75, 75, 0.03) 0%, rgba(75, 75, 75, 0.03) 36%,rgba(5, 5, 5, 0.03) 36%, rgba(5, 5, 5, 0.03) 60%,rgba(230, 230, 230, 0.03) 60%, rgba(230, 230, 230, 0.03) 76%,rgba(204, 204, 204, 0.03) 76%,
    rgba(204, 204, 204, 0.03) 83%,rgba(30, 30, 30, 0.03) 83%, rgba(30, 30, 30, 0.03) 91%,rgba(119, 119, 119, 0.03) 91%, rgba(119, 119, 119, 0.03) 96%,rgba(27, 27, 27, 0.03) 96%, rgba(27, 27, 27, 0.03) 100%),linear-gradient(357deg, rgba(159, 159, 159, 0.03) 0%,
    rgba(159, 159, 159, 0.03) 7%,rgba(227, 227, 227, 0.03) 7%, rgba(227, 227, 227, 0.03) 26%,rgba(204, 204, 204, 0.03) 26%, rgba(204, 204, 204, 0.03) 28%,rgba(181, 181, 181, 0.03) 28%, rgba(181, 181, 181, 0.03) 34%,rgba(138, 138, 138, 0.03) 34%, rgba(138, 138, 138, 0.03) 36%,
    rgba(44, 44, 44, 0.03) 36%, rgba(44, 44, 44, 0.03) 74%,rgba(130, 130, 130, 0.03) 74%, rgba(130, 130, 130, 0.03) 100%),linear-gradient(132deg, rgba(191, 191, 191, 0.03) 0%, rgba(191, 191, 191, 0.03) 24%,rgba(174, 174, 174, 0.03) 24%, rgba(174, 174, 174, 0.03) 31%,rgba(19, 19, 19, 0.03) 31%,
    rgba(19, 19, 19, 0.03) 42%,rgba(242, 242, 242, 0.03) 42%, rgba(242, 242, 242, 0.03) 70%,rgba(131, 131, 131, 0.03) 70%, rgba(131, 131, 131, 0.03) 75%,rgba(167, 167, 167, 0.03) 75%, rgba(167, 167, 167, 0.03) 77%,rgba(64, 64, 64, 0.03) 77%, rgba(64, 64, 64, 0.03) 100%),linear-gradient(90deg, rgb(245, 198, 84),rgb(209, 69, 18));
    color: var(--clr-dark);
    text-align: center;
}

footer {
    text-align: center;
    display: grid;
    font-weight: 550;
    background-image: radial-gradient(circle at 52% 84%, rgba(194, 194, 194,0.06) 0%, rgba(194, 194, 194,0.06) 18%,transparent 18%, transparent 100%),radial-gradient(circle at 38% 97%, rgba(239, 239, 239,0.06) 0%,
    rgba(239, 239, 239,0.06) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 86% 17%, rgba(210, 210, 210,0.06) 0%, rgba(210, 210, 210,0.06) 61%,transparent 61%, transparent 100%),radial-gradient(circle at 6% 48%, rgba(91, 91, 91,0.06) 0%,
    rgba(91, 91, 91,0.06) 27%,transparent 27%, transparent 100%),radial-gradient(circle at 27% 63%, rgba(86, 86, 86,0.06) 0%, rgba(86, 86, 86,0.06) 30%,transparent 30%, transparent 100%),radial-gradient(circle at 2% 91%, rgba(182, 182, 182,0.06) 0%, rgba(182, 182, 182,0.06) 29%,transparent 29%, transparent 100%),linear-gradient(90deg, rgb(203, 171, 120),rgb(227, 87, 5));
}

.social-list__item:hover {
    text-decoration: underline;
}