*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: white;
    --clr-dark: black;
    --clr-accent: #DC7A09;

    --fs-h1: 55px;
    --fs-h2: 40px;
    --fs-h3: 20px;
    --fs-body: 18px;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 72px;
        --fs-h2: 60px;
        --fs-h3: 24px;
        --fs-body: 18px;
    }
}

.header {
    background: black;
    background-image: url(../Images/abstract-watercolor-background_23-2149069668.jpg);
    background-size: initial;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold);}

h1 {
    line-height: 10px;
    margin-top: 0;
}

h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: 55px;
    padding: 20px;
    background-color: #DC7A09;
    display: inline-block;}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}

ul {
    margin: 0px 20px 0px 30px;
    padding: 30px 0px 0px;
}

li {
    font-size: 35px;
    display: inline-block;
    margin: 0px 20px 0px 30px;
    padding: 30px 0px 25px;
    
}

a {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
}

.section__title {
    margin-bottom: 4px;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    background: var(--clr-accent);
    padding: 4px 16px;
    margin-bottom: 16px;
    margin: 0;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    text-align: center;
}

.section__subtitle--intro {
    background: var(--clr-light);
}

.section__subtitle--about {
    background: var(--clr-accent);
    padding: 4px 16px;
    font-family: var(--ff-secondary);
    margin-bottom: 16px;
    text-align: start;
}

.section__subtitle--work {
    background: var(--clr-accent);
    padding: 4px 16px;
    font-size: var(--fs-h3);
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    margin-bottom: 32px;
    display: inline;
}

nav { display: none;}

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: flex;
        width: min-content;
        margin: 0 auto;
        column-gap: 4px;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -24px;
        width: calc(100% + 24px);
    }
}

.my-services {
    background-color: var(--clr-dark);
    background-image: url();
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 32px;
    height: 1px;
    margin: 8px auto 16px;
    background: var(--clr-light);
    opacity: 0.5;
}

.services {
    margin-bottom: 64px;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 32px;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        column-gap: 32px;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -32px;
        width: calc(100% + 32px);
        padding-left: 16px;
        padding-right: calc(200px + 64px);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__img:hover {
    transform: scale(1.2);
    opacity: .75;
}